body{
    padding: 0 10%;
    margin-top: 2rem;

}

a{
    text-decoration: none;
}

:root {
    --main-color: #445964;
    --dark-gray: #263138;
    --logo-background:#343434;
    --soft-gray:#E9E9E9;
    --black:#000000;
    --btn:#515151;
    --comment-time:#18A0FB;
}

.border-box{
    border: none;
    border-radius: 10px;
    background: var(--dark-gray);
    color: white;
}